.hand.nosel.fl.uzr.borderg {
padding: 0.2rem 0;
    position: relative;
    background-color: #ecf6ee;
    border: 1px #000 solid;
}
div#isfil.corner.border.label.label-primary {
    font-size: .6rem;
    text-align: center;
    margin: -14px auto 0;
    font-family: jazeera,FontAwesome;
    font-size: 11px!important;
    width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    line-height: 1.6;
}
div.hand.corner {
border: 1px solid #000;
    z-index: 2000;
    background-color: #efefef;
    position: absolute;
    top: 30%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: -0.2rem;
    left: 15px;
    background-color: #b52929 !important;
    -webkit-animation: swoopOut 3s ease 1 forwards;
    text-align: center;
    color: #fefffc;
    min-width: 260px;
    max-width: 260px;
    border: 3px solid #fefffc;
    z-index: 2000;
    position: absolute;
    top: 30%;
    padding: 5px;
    border-radius: 0 15px 15px 15px;
    margin-bottom: -0.2rem;
    left: 15px;
    box-shadow: 7px 7px 10px #000;
}
.room.borderg.hand.nosel.fl .fa-microphone:before {
    margin: 0 0 0 -18px;
    font-size: 20px;
    color: #ff0a0a;
    -webkit-animation: mymove .5s infinite;
    animation: mymove .5s infinite;
}
.uzr.fl.corner.borderg.mm {
    border-left: 2px solid #56a2ab;
    margin-left: 0!important;
    border-radius: 0!important;
    width: 100%!important;
    border-top: 0.7px solid #eee!important;
    border-bottom: 0.7px solid #eee!important;
    margin-bottom: 0!important;
    line-height: 26px;
}
a.btn.minix.fa.fa-times.fr, a.btn.minix.fa.fa-thumbs-up.fr, a.btn.minix.fa.fa-comment.fr {
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    border-radius: 3px;
}
a.btn.minix.fa.fa-times.fr {
    color: #000!important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    border-color: #fff!important;
    background-image: linear-gradient(to bottom,#dc1212 0,#e41111 100%)!important;
    margin-left: 2px;
    width: 25px;
    margin-right: 2px;
}
a.like2.btn.minix.btn-danger.fa.fa-heart.fr {
    color: #fff!important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    border-color: #b92c28;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    margin-left: 3px;
}
label.fl.nosel.label.pnhead {
    color: #fff;
    background-color: #885867;
    font-size: 15.8px!important;
    padding: 8px;
    width: 85%;
    display: block;
    height: 35px;
    background-image: repeating-linear-gradient( 
45deg ,rgba(0,0,0,.8),#212529 100px,transparent 0,transparent 200px),repeating-linear-gradient( 
-45deg ,rgba(0,0,0,.9),#212529 100px,transparent 0,#f8f9fa 200px);
    background-color: #bfc0c1!important;
    border-radius: 10px;
    border: 1px solid #212529;
    margin-top: -5px;
    margin-bottom: 4px;
    font-family: jazeera,FontAwesome;
}
div#dpnl.dpnl.bg.tab-content {
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
    animation: fuck 1s !important;
} 

div#dpnl.dpnl.bg.tab-content {
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
    animation: fuck 1s !important;
}
.bg {
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 5px 4px 30px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
}
.border {
    border: #e8e8e8 solid 1px;
}
.pmsg {
    background-color: #2196f3!important;
    color: white!important;
}
.ChangePassword{
    background-color: #2196f3!important;
    color: white!important;
} 

.redit {
    background-color: #4caf50!important;
    color: white!important;
}
.cp {
    background-color: #E31111!important;
    color: white!important;
}
.label-warning {
    background-color: #d9534f;
background-image: url(https://k.top4top.io/p_1871wwqvi1.gif);
    border-radius: 0;
    margin-left: -2px!important;
}
.fa-share-alt::before {
    content: "\f03e";
}
button.fa.fa-send.fl.btn.btn-primary {
    margin-top: -0.1px!important;
    border-radius: 10%;
}
.ae.label.label-primary.fa.fa-bolt {
padding: 7px 10px 5px;
    margin-left: -4px!important;
    border-radius: 0 3px 3px 0;
    border-style: solid;
    border-right-style: solid;
    border-right: 4px solid;
    border-right-style: solid;
    border-right-style: ridge;
}
.ae.fa.label.label-primary.fa-user {
    padding: 7px 12px 5px 9px;
    padding: 7px 12px 5px 9px;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-left: 4px solid;
    border-left-style: groove;
}
.ae.fa.chats.label.fa-comment.label-primary {
    padding: 7px 15px 5px;
    margin-left: -7px!important;
    border-radius: 0;
}
.ae.fa.label.label-primary.fa-users {
    padding: 7px 33px 5px 13px;
    border-radius: 0;
    margin-left: -3px!important;
    margin-right: -px;
}
.ae.fa.chats.label.label-primary.fa-comment:before {
    content: "\f1d8";
    display: inline!important;
}
.fa-group:before, .fa-users:before {
    content: "\f0c0";
}
.ae.fa.label.label-primary.fa-users {
    padding: 7px 33px 5px 13px;
    border-radius: 0;
    margin-left: -3px!important;
    margin-right: -px;
}
.ae.fa.label.label-primary.fa-users {
    padding: 7px 5px 5px 13px;
    border-radius: 0;
    margin-left: -3px!important;
}
.ae.fa.label.label-primary.fa-users {
    padding: 7px 33px 5px 13px;
    border-radius: 0;
    margin-left: -3px!important;
    margin-right: -px;
}
.ae.fa.label.label-primary.fa-users {
    padding: 7px 5px 5px 13px;
    border-radius: 0;
    margin-left: -3px!important;
}
.fa-commenting-o::before {
    content: "\f06d";
    margin-right: 14px;
}
.ae.label.label-primary.fa.fa-gear {
    padding: 7px 34px 5px 13px;
    border-radius: 0;
    margin-left: -2px!important;
}
.fa-gear::before, .fa-cog::before {
    content: "\f085";
}
.ae.fa.label.fa-commenting-o.label-primary {
    padding: 7px 5px 5px 18px;
    border-radius: 0;
    margin-left: -2px!important;
}
.fa-commenting-o::before {
    content: "\f06d";
    margin-right: 14px;
}
label.ae.fa.label.fa-users.btnClAlGr.label-warning, label.ae.fa.label.fa-users.btnClAlGr.label-primary {
    padding: 7px 33px 5px 13px!important;
}
label.ae.fa.label.fa-users.btnClAlGr.label-warning, label.ae.fa.label.fa-users.btnClAlGr.label-primary {
    padding: 7px 5px 5px 8px;
}
label.ae.fa.label.fa-users.btnClAlGr.label-warning, label.ae.fa.label.fa-users.btnClAlGr.label-primary {
    padding: 7px 5px 5px 13px;
}
.ae.fa.label.label-primary.fa-users {
    padding: 7px 33px 5px 13px;
    border-radius: 0;
    margin-left: -3px!important;
    margin-right: -px;
}
.uzr.fl.corner.borderg.mm {
    border-left: 2px solid #333333;
    margin-left: 0!important;
    border-radius: 0!important;
    width: 100%!important;
    border-top: 0.7px solid #eee!important;
    border-bottom: 0.7px solid #eee!important;
    margin-bottom: 0!important;
    line-height: 26px;
}
.notadmin .fl.u-msg {
    width: 95% !important;
    padding: 10px !important;
    text-align: center !important;
    outline-offset: -6px;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    box-shadow: 8px 3px 5px -3px #000;
    margin-bottom: 30px;
    margin-left: 7px;
    overflow: auto;
    height: 79px;
    background: #c9c6c687;
    margin-top: 10px;
    font-size: 14px !important;
}
.uzr.fl.corner.borderg.mm, .uzr.fl.corner.borderg.mm {
    margin: 1px 0;
    border-Right: 3px solid #ff6094;
    border-Left: 3px solid #ff6094;
    border-Top: 1px solid #ff6094;
    border-bottom: 1px solid rgb(81, 72, 72);
    padding-Top: 3px;
    border-Radius: 0px !important;
    border-radius: 0px !important;
    border: none !important;
    border-top: 1px #eee solid !important;
    border-bottom: 1px #ccc solid !important;
}
.pmsgc {
    background: #0000001b;
    outline: 1px dashed #d9534f;
    outline-offset: -5px;
    /* color: #ffffff; */
    background-size: auto;
    background-position: 100% 0%;
    background-color: #33333361 !important;
}
span.minix.badge.border, span.bwall.minix.badge.border, span.brooms.minix.badge.border {
    display: none!important;
}
span.fr.uhash {
    position: absolute;
    margin-left: 203px;
    margin-top: 2px!important;
}
.fa.fa-send.fl.btn.btn-primary {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    background: #fff!important;
    border-radius: 50%;
    width: 42px;
    height: 30px;
    font-size: 0;
    color: #000;
}
.fl.btn.btn-primary {
    height: 25px!important;
    border-radius: 0 0 30px 30px!important;
    border-bottom: 0 solid#fff!important;
    border-right: 0.5px solid#fff!important;
    border-left: 0.5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    background-image: radial-gradient(circle,#484848,#888,#000)!important;
    font-family: jazeera,FontAwesome;
    font-size: 11px!important;
}
.tbox {
    padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important;
}
.fl.btn.btn-primary {
    height: 25px!important;
    border-radius: 0 0 30px 30px!important;
    border-bottom: 0 solid#fff!important;
    border-right: 0.5px solid#fff!important;
    border-left: 0.5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    background-image: radial-gradient(circle,#484848,#888,#000)!important;
    font-family: jazeera,FontAwesome;
    font-size: 11px!important;
}
@font-face{font-family:'lemonada';src: url('https://www.fontstatic.com/fonts/lemonada/lemonada.eot?#iefix');src: local('ليمونادة'), local('lemonada'),url('https://www.fontstatic.com/fonts/lemonada/lemonada.woff') format('woff');}@font-face{font-family:'lemonada-light';src: url('https://www.fontstatic.com/fonts/lemonada-light/lemonada-light.eot?#iefix');src: local('ليمونادة خفيف'), local('lemonada-light'),url('https://www.fontstatic.com/fonts/lemonada-light/lemonada-light.woff') format('woff');}
}
.bgf{
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .bgf {
    background-color: rgba(0, 0, 0, .5);
  }
}
.fl.ustat {
    border-radius: 3px;
    margin-right: -47px;
    width: 48px!important;
    height: 48px!important;
}
span.fr.uhash {
    position: absolute;
    margin-left: 225px;
    margin-top: 2px!important;
}
.bg {
    border-radius: 8px;
    box-shadow: 5px 4px 10px #000;
    border: 3px solid hsla(0,0%,100%,.8588235294117647)!important;
    background: hsla(0,0%,100%,.8588235294117647)!important;
}
#as3 {
    top: 83px!important;
    text-align: center!important;
    text-decoration: dotted;
    color: #fff;
    margin-left: 5px !important;
    display: inline-block;
    border-radius: 3px;
    border-image: initial;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0, 0, 0, 0.64)!important;
}
label.fl.label.loginstat {
    float: left!important;
    border-radius: 0 7px 7px 0!important;
    position: absolute;
    top: 1px;
    left: 0;
    padding: 3px 6px 2px 8px !important;
    margin-top: 553px!important;
    font-size: 14px!important;
    margin-left: -4px!important;
z-index: 3;
    position: absolute;
background-color: hsla(0, 0%, 100%, 0) !important;
    border: hsla(0, 0%, 100%, 0) !important;
}
span.busers.minix.badge.border, span.s1.fa.fa-user.label.badgex.label-as-badge.label-success, a#asim27 {
    background-color: hsla(0, 0%, 100%, 0) !important;
    border: hsla(0, 0%, 100%, 0) !important;
}
span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    font-size: 12px!important;
    background-color: #d01b1b00;
    color: #fff;
}
div#tlogins img.fl.u-ico {
    margin-top: 8px!important;
}
div#tlogins .fl.u-ico {
    display: none;
}
div#tlogins img.fl.u-ico {
    margin-top: 8px!important;
}
div#tlogins span.corner.u-topic.dots {
    float: left!important;
    margin-top: 8px!important;
    border-radius: 5px!important;
    margin-right: -110px!important;
    max-width: 140%!important;
    left: 0!important;
    display: none;
    margin-left: 0!important;
}
div#tlogins .u-topic.dots {
    width: 800px;
}
div#tlogins .fl.mini.u-msg {
    margin-top: 3px!important;
    border-radius: 3px!important;
}
div#tlogins .fl.mini.u-msg {
    display: none;
}
img.fr.co {
    margin-left: -23px;
    margin-top: 8px;
}
.fr.co {
    transform: rotate(
100deg);
    height: 10px;
    width: 16px!important;
    margin-top: 12px;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
}
div#tlogins .hand.nosel.fl.uzr.borderg {
    background-color: #ffffff00!important;
    border-radius: 0px!important;
    width: 17%!important;
}
.hand.nosel.fl.uzr.borderg {
    border: 1px solid #e6e6fa00;
    border-top-color: rgba(230,230,250,0);
    border-top-style: solid;
    border-top-width: 1px;
}
img.fr.co {
    margin-left: -23px;
    margin-top: 8px;
}
.fr.co {
    transform: rotate(
100deg);
    height: 10px;
    width: 16px!important;
    margin-top: 12px;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #e6cb0a;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-family: jazeera,FontAwesome;
}
div#tlogins img.fitimg.fl.u-pic {
    padding: 0;
    border-radius: 6px;
    margin-right: 0;
    margin-left: 8px!important;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
    width: 45px!important;
    height: 45px!important;
}
.lonline.light.break {
    height: 148px!important;
    outline: #d3d3d300 solid 0px!important;
    background-color: #ffffff00!important;
    margin-left: 57px;
}
.fitimg.fl.u-pic {
    margin-top: 2px;
    border-radius: 6px;
}
ul.nav.nav-tabs {
border-radius: 15px 15px 15px 15px;
    width: 91% !important;
    height: 318px;
    font-size: 14px !important;
    color: #fff;
    padding: 0px 0 !important;
    margin-left: 23px;
    background-color: #4040404f!important;
    margin-top: 10px;
    position: absolute;
}
.nav-tabs>li {
    margin-bottom: 12px;
}
.nav-tabs>li {
    background: 0 0;
    width: 50%;
    margin-left: 2px;
    border-radius: 50px;
    height: 35px!important;
}
div#l1, div#l2, div#l3 {
background-color: rgb(255 255 255 / 15%);
}
.label.label.label-primary.mini.fl, div#l1, div#l2, div#l3, ul.nav.nav-tabs.fl li a {
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075), 0 0 8px rgba(0, 0, 0, 1.64)!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #274054;
}
.nav-tabs>li>a {
    background-color: #3b5678;
    background-image: url(https://www.n1w.net/sico/z1fiqbddp310.gif);
    margin: 4px 38px 4px 43px;
    text-align: center;
    width: 169%;
    position: absolute;
color: #ffffff;
    margin-top: 129px!important;
    margin-left: 15px!important;
    border-radius: 25px;
    height: 100%!important;
    padding: 6px 0!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(0,0,0,.64)!important;
font-family: 'lemonada-light';
                font-size: 14px !important;
}
.nav-tabs>li>a.fa-user:before {
visibility: collapse;
}
.fa-user-plus:before {
visibility: collapse;
}
.nav-tabs>li {
    margin-bottom: 12px;
}
.nav.nav-tabs.fl {
    width: 200%!important;
    top: 370px!important;
}
.nav.nav-tabs.fl {
    background-color: #fff0!important;
    position: absolute;
    top: 153px;
}
a.label.label-primary.fl {
visibility: collapse;
}
.fr.borderg {
visibility: collapse;
}
div#tlogins {
    background-image: url(https://mrkzgulfup.com/uploads/164020467790131.jpg);
    box-shadow: inset 0px 0px 5px rgb(255 255 255), 0 0 10px #ffffff8a!important;
    background-position: 50% 50%;
}
.label.label.label-primary.mini.fl, div#l1, div#l2, div#l3, ul.nav.nav-tabs.fl li a {
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075), 0 0 8px rgba(0, 0, 0, 1.64)!important;
}
div#l1, div#l2, div#l3 {
z-index: 3;
    position: absolute;
    width: 79%!important;
    margin-top: 75px!important;
    margin-left: 45px!important;
    height: 120px;
    top: 160px;
    background-image: -webkit-linear-gradient( 
45deg,rgba(114,111,118,0) 25%,rgba(130,130,130,0) 25%,rgb(59 86 120) 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}
div#l1 input#u1, div#l2 input#pass1, div#l2 input#u2, div#l3 input#pass2, div#l3 input#u3 {
    width: 103%;
    margin-left: -5px!important;
    height: 30px;
    font-family: 'lemonada-light';
    text-align: center;
}
div#l1 button.btn.btn-primary, div#l2 button.btn.btn-primary, div#l3 button.btn.btn-primary {
    width: 100px;
    position: inherit;
    height: 30px;
    margin-bottom: 0;
    padding: 0;
    right: 98px;
    font-family: 'lemonada-light';
    border-radius: 25px!important;
    top: 75px;
}
label.fl.label.loginstat, ul.nav.nav-tabs.fl li a {
    font-family: 'lemonada-light';
}
label.fl.label.loginstat, ul.nav.nav-tabs.fl li a {
    font-family: 'lemonada-light';
}
.bord {
    border-inline: 4px solid dodgerblue!important;
}
@font-face{font-family:'jazeera';src: url('https://www.fontstatic.com/fonts/jazeera/jazeera.eot?#iefix');src: local('الجزيرة'), local('jazeera'),url('https://www.fontstatic.com/fonts/jazeera/jazeera.woff') format('woff');}
@font-face{font-family:'jazeera-light';src: url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.eot?#iefix');src: local('الجزيرة خفيف'), local('jazeera-light'),url('https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff') format('woff');}
.label.label.label-primary.mini.fl, div#l1, div#l2, div#l3, ul.nav.nav-tabs.fl li a {
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075), 0 0 8px rgba(0, 0, 0, 1.64)!important;
}
label.label.label-primary.mini.fl {
    border-radius: 30px!important;
    height: 20px;
    background-color: #ff4a4aa8!important;
margin-top: 310px!important;
font-family: jazeera,FontAwesome;
}
div#tlogins img.fitimg.fl.u-pic {
    padding: 0;
    border-radius: 6px;
    margin-right: 0;
    margin-left: 8px!important;
    box-shadow: inset 1px 1px 1px 1px rgb(152 106 136 / 21%), 0 0 5px #986a88;
    width: 45px!important;
    height: 45px!important;
}
.fitimg.fl.u-pic {
    margin-top: 2px;
    border-radius: 6px;
}
div#break.border.light.tab-pane.active {
    background-color: #FFFFFF !important;
}div#d2bc .uzr.fl.corner.borderg {
    border-radius: 10px!important;
    margin: 3px 1px 10px 2px !important;
    border-color: #000;
    background: repeating-linear-gradient( 
45deg,hsla(0,0%,100%,.8),#fff 100px,hsla(0,0%,100%,.6901960784313725) 0,rgba(255,246,246,.6) 200px),repeating-linear-gradient( 
-45deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,.93) 100px,hsla(0,3.8%,69%,.8196078431372549) 0,hsla(0,0%,100%,.9019607843137255) 200px);
    color: #0f0202;
    padding: 2px 1px;
    border-radius: 0 14px 0 14px;
    box-shadow: 0 0 10px 0 #000;
    width: 95%!important;
    margin-left: 9px!important;
}
span.number {
    display: none!important;
}
div#top10.break.border.light.tab-pane.active {
background-color: #ffffff !important;
}
.hand.nosel.fl.uzr.borderg {
padding: 0.2rem 0;
    position: relative;
    background-color: #ecf6ee;
    border: 1px #000 solid;
}
.broadcasters {
    margin-left: 2px;
    color: #ffffff;
    border: 1px solid#f9f9f9!important;
    border-radius: 0px;
    background-color: #8c4c62!important;
    background-image: url(https://i.imgur.com/eqGvZEC.gif)!important;
    font-family: 'Almarai', sans-serif;
}
.broadcasters>div>.prods {
width: 30px;
    height: 30px;
    border: 5px solid #000;
    filter: invert(1);
    background-size: contain;
    background-image: url(https://d.top4top.io/p_1939vltqv1.gif);
}
.broadcasters>div>.prods>.fa.fa-volume-up::before {
    display: none!important;
}
.broadcasters>div>.prod {
position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #dcdcdc;
    color: #000;
    display: inline-block;
    font-size: 1.1rem;
    border: 3px solid #989594;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
